page-detail {
    .bold {
        font-size: 20px;
        color: black;
    }
    .center {
        font-size: 20px;
        color: black;
        text-align: center;
    }
    .left {
        text-align: left;
    }
    .image {
        height: auto;
        width: 100%;
    }
    .batas {
         margin-right: 10px;
    margin-left: 10px;
    }
     ion-fab[bottom] {
        bottom: 50px;
    }
    .bg {
        background-color: #488aff;
    }
    .segment-ios .segment-button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 3.2rem;
        border-width: 1px;
        border-style: solid;
        border-color: #488aff;
        font-size: 1.3rem;
        line-height: 3rem;
        color: white;
        background-color: transparent;
    }
    .container {
      position: relative;
      text-align: center;
      color: white;
    }
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 2px;
        color:white;
        font-size:15px;
        font-color: white;
    }
    .bg1 {
    color: white;
}

.color {
  color:white;
        font-size:15px;
        font-color: white;
}
}